body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	box-sizing: border-box;
}

input {
	display: inline;
	border-radius: 50px;
	width: 80%;
	padding: 0.5rem 0;
	text-align: center;
	min-width: 240px;
}

input:active {
	border: none;
}

button {
	margin-top: 1rem;
	display: inline;
	padding: .4rem 2rem;
	background: none;
	border-radius: 50px;
	border: 1px solid black;
	transition: .4s;
}

button:hover {
	color: white;
	background-color: black;
}

form {
	width: 50%;
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#main-body {
	padding: 0 1rem;
}

a {
	cursor: pointer;
}
